.btn {
    background-color: #488af0;
    color: white;
    border: 1px solid #999;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
    width: 33%;
    display: block;
}
.bg-red {
    background-color: #ed6161;
}
